* {
    margin: 0;
    padding: 0;
}

/* header styles */
.header {
    position: relative;
    width: 100%;
    height: 8vh;
    background: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-bar {
    display: flex;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0%;
    margin-right: 1rem;
}

.header .header-ul {
    display: flex;
    padding: .5rem;

}

.header .header-icons {
    margin: .3rem;
    padding: .4rem;
    list-style: none;
    color: #fff;
    background: #3683F0;
    border-radius: 50%;
    cursor: pointer;
}

.header-nav .personal-img {
    width: 30%;
}

.header-nav .setting-icon {
    margin: .7rem;
    font-size: 1.4rem;
}


/* content-body styles */

.content-body {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 3rem;
}

/* vertical-nav styles */
.vertical-nav {
    width: 30%;
    margin: .5rem;
    border-right: 2px solid #7b7878;
    display: none;
    transition: all 55s;
}

.active {
    display: block;
}

.active-menu-icon {
    color: #fff;
}

.menu-icon {
    position: absolute;
    top: 0;
    left: 0%;
    display: block;
    padding: .8rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.vertical-nav-title {
    width: 100%;
    height: 5vh;
    text-align: center;
    color: #fff;
    background-color: black;
}

.vertical-nav ul {
    padding: 1.3rem;
}

.list-title {
    font-size: 1.8rem;
    margin-bottom: .7rem;

}

.vertical-nav-task {
    font-size: 1.6rem;
    list-style: none;
    line-height: 3.5rem;

}

.vertical-nav-task a {
    text-decoration: none;
    color: black;
}


/* assets  */
.assets-contaner {
    position: relative;
    width: 90%;
    margin: 0 5rem;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.assets-contaner-header {
    height: 5vh;
    padding: .6rem;

    font-size: 1.7rem;
    color: #fff;
    background: #0029FF;
    border-radius: 10px 10px 0px 0px;
    text-transform: capitalize;
}

.asset-title {
    text-align: center;
    margin: 1rem;
}




/* card styles */
.task-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.task-card {
    position: relative;
    width: 45%;
    margin-bottom: 1.3rem;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-headding {
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    background-color: #000;
}

.card-body {
    font-size: 1.3rem;
}

.card-body .asset>* {
    width: 100%;
}

.card-body iframe {
    min-height: 70vh;
}

.card-body .more {
    display: none;
}

.card-body .more-active {
    display: block;
}

.card-body span {
    font-weight: bold;
    color: #4e4d4d;

}

.card-footer {
    height: 7vh;
    display: block;
}

.arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.6rem;
    margin: 1rem;
    cursor: pointer;
}

.next {
    position: relative;
    left: 90%;
    bottom: 0;
    width: 8%;
    height: 5vh;
    font-size: 1.3rem;
    margin: 1.3rem;
    color: #fff;
    background: #0029FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* styles for phones screen */
@media only screen and (max-width: 600px) {

    .assets-contaner-header {
        height: 12vh;
    }

    .task-card {
        width: 90%;
    }

    .next {
        position: relative;
        left: 60%;
        bottom: 0;
        width: 20%;
    }
}